{% extends 'base.html' %}
{% load static %}

{% block css_add%}
    <link rel = 'stylesheet' type='text/css' href='{% static "Our_resume/css/404game.css"%}'>
{% endblock %}
{% block title%}Упс...{% endblock %}
{%block content%}
    <table class="tiktaktoe">
        <thead>
            <h2>404 кажется тут ничего нет</h2>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
        </tbody>
    </table>
{% endblock %}